In [4]:
#python dictionary
my_dict = {"first": 50, "second":70, "third": 68 }
print(my_dict["second"])

70

In [5]:
#python dictionary
my_dict = {"first": 50, "second":70, "third": 68 }
my_dict["second"] = 90
print(my_dict)

{'first': 50, 'second': 90, 'third': 68}

In [21]:
new_dict = {'Age': 20, 'Sex': "Female", "Subjects": ['Biology', 'Chemistry', 'Pysics']}
#print(new_dict['Subjects'])
dict_values = new_dict.values()
#print("values"dict_values)
dict_keys = new_dict.keys()
#print("keys"dict_keys)

dict_item = new_dict.items()
print("items tuple", dict_item)

items tuple dict_items([('Age', 20), ('Sex', 'Female'), ('Subjects', ['Biology', 'Chemistry', 'Pysics'])])

In [16]:
new_dict = {'Age': 20, 'Sex': "Female", "Subjects": ['Biology', 'Chemistry', 'Pysics']}
for item in new_dict.items():
    print("key =", item[0], "value =", item[1])

key = Age value = 20
key = Sex value = Female
key = Subjects value = ['Biology', 'Chemistry', 'Pysics']

In [19]:
cart = [{"product_id": 23, 'name': "fish", 'quantity': 2, "price": 5000},{"product_id": 26,"name": "shoe", "quantity": 2, "price": 2000, "colour":"blue"}]
total = 0
for item in cart:
    cost = item['price'] * item['quantity']
    total += cost
print("cart total cost =", total)

cart total cost = 14000

In [5]:
data = [{"name": 'sam', 'biology':60, 'physics':64,'maths':80 },{"name": 'willy', 'biology':70, 'physics':44,'maths':60 },{"name": 'ade', 'biology':30, 'physics':84,'maths':50 }]

for item in data:
    total_score = item['biology'] + item['physics'] + item['maths']
    item['total'] = total_score
    print(item['name'], "scored", total_score)
print(data)

sam scored 204
willy scored 174
ade scored 164
[{'name': 'sam', 'biology': 60, 'physics': 64, 'maths': 80, 'total': 204}, {'name': 'willy', 'biology': 70, 'physics': 44, 'maths': 60, 'total': 174}, {'name': 'ade', 'biology': 30, 'physics': 84, 'maths': 50, 'total': 164}]

In [54]:
#working with set
my_set = {'maths', 'literatire', 'geography', 'maths'}
print(my_set)
my_set.add('biology')
print(my_set)

{'maths', 'literatire', 'geography'}
{'maths', 'literatire', 'biology', 'geography'}

In [35]:
set_a = {'maths', 'literatire', 'geography'}
set_b = {'maths', 'english', 'physics', 'chemistry'}

set_difference = set_a.difference(set_b)
print("difference", set_difference)

set_union = set_a.union(set_b)
print("union", set_union)

set_intersection = set_a.intersection(set_b)
print("intersection", set_intersection)

difference {'literatire', 'geography'}
union {'maths', 'literatire', 'chemistry', 'physics', 'english', 'geography'}
intersection {'maths'}

In [24]:
set_b = {'maths', 'enlish', 'physics', 'chemistry'}
for i in set_b:
    print(i)

enlish
chemistry
math
physics

In [31]:
#working with tuple
mytuple = ("orenge", "banana", "orange")

#mylist =  ("orenge", "banana", "orange")
#mylist[2] = 'cashew'
#print(mylist)

#mystr = "orenge banana orange"


#mytuple.remove(2)
for item in mytuple:
    print(item)

orenge
banana
orange

In [39]:
list_in_list = [13, 5, 7, 8, 9, 1, [9, 0, 3],[16, 34, 8]]
for num in list_in_list:
    if type(num) == type([]):
        for i in num:
            print(i)
    else:
        print(num)

13
5
7
8
9
1
9
0
3
16
34
8

In [45]:
list1 = [1,2]
list2 = (1, 2)
list3 = "1"," 2"
list4 = "1 2"
print(type(list1))
print(type(list2))
print(type(list3))
print(type(list4))

<class 'list'>
<class 'tuple'>
<class 'tuple'>
<class 'str'>

In [1]:
list_in_list = [13, 5, 7, 8, 9, 1, {9, 0, 3},[16, 34, 8],(10, 30, 40)]
for num in list_in_list:
    if type(num) in [type([]),type(()),type(set())]:
        for i in num:
            print(i)
    else:
        print(num)

13
5
7
8
9
1
0
9
3
16
34
8
10
30
40

In [ ]:
set(1, 2, 3)
{1, 2, 3}

list(1,2,3)
[1,2,3]

tuple(1,2,3)
(1,2,3)