In [5]:
#operations with comparison operators
# ==, >, <, <=, >=, !=...

a = 5
b = 3
c = 20

print(b > a)
print(a <= c)

#using logical operators

print("-- testing logical operators --")
print(a>b and a>c)
print(a>b or a>c)
print(a!=b or a==c)

False
True
-- testing logical operators --
False
True
True

In [8]:
#using built-in functions

a = -18.2
b = abs(a)
print(b)
print(abs(-0.5))
print(abs(12))

18.2
0.5
12

In [10]:
#using built-in functions

scores = [40,46,60,23,80,58,40,21,45,90]
min_score = min(scores)
max_score = max(scores)

print('min score =', min_score)
print('max score =', max_score)

min score = 21
max score = 90

In [22]:
#using built-in functions

scores = [40,46,60,23,80,58,40,21,45,90]
mystr = "Hello world"
total = sum(scores)

#str_list = ['Samuel is boy', 'oge is girl']
#print(len(str_list))

print(total)
print(sum(scores)/len(scores))
print(len(mystr))

503
50.3
11

In [1]:
#using built-in functions

a = 30
b = 'my score is = '
c = b + str(a)

print(c)
print(type(str(a)))

d = 50.7
print(type(d))

e = int(d)
print(e)
print(type(e))

my score is = 30
<class 'str'>
<class 'float'>
50
<class 'int'>

In [4]:
#class work

scores = [45,60,69,63,78,30,24,90]
total = sum(scores)
no_items = len(scores)
mean = total/no_items

print("minimum value = ", min(scores))
print("maximum value = ", max(scores))
print("mean value = ", (mean))

minimum value =  24
maximum value =  90
mean value =  57.375

In [5]:
# range from 0 to 10 = 0,1,2,3,4,5,6,7,8,9

n = 10
start_point = 1
step = 2
num_range = range(n)  #values from 0 to n-1
num_range2 = range(start_point, n) # values from start_point to n-1 - 1,2,3,...9
num_range3 = range(start_point, n, step) # values from start_point to n-1 - 1,3,5,7,9
num_range4 = range(5, 21)

print("num_range = ", list(num_range))
print("num_range2 = ", list(num_range2))
print("num_range3 = ", list(num_range3))
print("num_range4 = ", list(num_range4))

num_range =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
num_range2 =  [1, 2, 3, 4, 5, 6, 7, 8, 9]
num_range3 =  [1, 3, 5, 7, 9]
num_range4 =  [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [9]:
# lower, upper, strip, join, split

name = "aisha"
name_uppercase = name.upper()
name_lowercase = name_uppercase.lower()

print(name_uppercase)
print(name_lowercase)

print(name.capitalize())

heading = "python for data science"
print(heading.title())

AISHA
aisha
Aisha
Python For Data Science

In [16]:
#using the split() on a string
mystring = "Amos Dayo Stephanie Nse Aisha Emmanuel"
combined_list = mystring.split(" ")

print(combined_list)

#using join() to transform a list to a string
joined_str = "|".join(combined_list)

print(joined_str)

['Amos', 'Dayo', 'Stephanie', 'Nse', 'Aisha', 'Emmanuel']
Amos|Dayo|Stephanie|Nse|Aisha|Emmanuel

In [ ]:
"""
git add .

git commit -m "work for week 2, day 2"

git push origin master