In [1]:
number_list = [2,3,5,8,12,7]
for x in number_list:
    print(x, "square =", x*x)

2 square = 4
3 square = 9
5 square = 25
8 square = 64
12 square = 144
7 square = 49

In [2]:
number_list = [2,3,5,8,12,7]
index = 0
length = len(number_list)
while (index < length):
    print(number_list[index], "square =", number_list[index]**2)
    index +=1

2 square = 4
3 square = 9
5 square = 25
8 square = 64
12 square = 144
7 square = 49

In [1]:
#using conditionals in loop
#printing only even numbers

number_list = [2,3,5,8,12,7]
for x in number_list:
    square = x**2
    if(square%2 ==0):
        print(x, "square =", square)

2 square = 4
8 square = 64
12 square = 144

In [12]:
#Nested loop
num_list1 = [1,2,3,4,5]
num_list2 = [6,7,8,9,10]

for x in num_list1:
    print("\nfor", x)
    for y in num_list2:
        print(x*y)

for 1
6
7
8
9
10

for 2
12
14
16
18
20

for 3
18
21
24
27
30

for 4
24
28
32
36
40

for 5
30
35
40
45
50

In [11]:
#Nested loop
num_list1 = [1,2,3,4,5]   #range(1,6)
num_list2 = [6,7,8,9,10]  #range(6,10)

for x in num_list1:
    print("\nfor", x)
    for y in num_list2:
        print(x, "x", y, "=", x*y)

for 1
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

for 2
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

for 3
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

for 4
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

for 5
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [30]:
#?___?___?___?__?
x = range(1,5)
y = range(1,5)

for item1 in x:
    print("for", item1)
    for item2 in y:
        print(item1, "x", item2, "=",item1*item2)

for 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
for 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
for 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
for 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16

In [31]:
#using break statement in a loop
animals = ["cow", "goat", "dog", "cat"]
for animal in animals:
    
    if animal =="goat":
        break
    print(animal)

cow

In [26]:
#using break statement in a loop
animals = ["cow", "goat", "dog", "cat"]
for animal in animals:
    
    if animal =="goat":
        continue
    print(animal)

cow
dog
cat

In [28]:
#using break statement in a loop
animals = ["cow", "goat", "dog", "cat"]
for animal in animals:
    print(animal)
    if animal =="goat":
        break

cow
goat